@import "@dative-gpi/foundation-shared-components/styles/main.scss";
@import "@dative-gpi/foundation-extension-shared-ui/styles/index.scss";

html {
    overflow-y: auto;

    @extend .fs-hide-y-scrollbar;
}

